 # Data cleansing
 ## Example of missing data

In [1]:
import pandas as pd
import numpy as np

# Creates a matrix of random float values following a gaussian distribution
df = pd.DataFrame(np.random.randn(5, 3),
                  index=['a', 'd', 'e', 'f', 'h'],
                  columns=['one', 'two', 'three'])

# Add more indecies than there were originally to represent missing data
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("Original Matrix with missing data: ")
print(df)
print('\n')

Original Matrix with missing data:
        one       two     three
a  0.289648  0.459135 -1.405729
b       NaN       NaN       NaN
c       NaN       NaN       NaN
d  0.807417 -0.623052  0.904651
e  0.540474 -1.429832  1.203632
f -0.659215  1.294754 -0.834432
g       NaN       NaN       NaN
h  0.662818 -0.228348  1.670195

 ## Find the missing data

In [2]:
# Detect if a location is missing with df.isnull() and df.notnull()
# or pd.isnan() for individual values
print("Check for null values in single column: ")
print(df['one'].isnull())
print('\n')

print("Check if specific element is null: ")
print(pd.isnull(df['one']['b']))

Check for null values in single column:
a    False
b     True
c     True
d    False
e    False
f    False
g     True
h    False
Name: one, dtype: bool


Check if specific element is null:
True

In [3]:
## Replace the missing data

In [4]:
# Replace missing data with a scalar using df.fillna
#   df.fillna(self, value=None, method=None, axis=None, inplace=False,
#             limit=None, downcast=None, **kwargs)
# Note that assigning a new df object from an existing one is
# typically done by reference and if inplace=True the original object
# will modified
#
# method options: backfill/bfill, pad/ffill, None
tmp = df
# creates a true copy at this point
tmp = tmp.fillna(0)
print("Replace missing data with scalar: ")
print(tmp)
print('\n')

# Pad values with previous non NaN row
tmp = df
tmp = tmp.fillna(method='pad')
print("Replace missing data with padding: ")
print(tmp)
print('\n')

# Pad values with following non NaN row
tmp = df
tmp = tmp.fillna(method='bfill')
print("Replace missing data with padding: ")
print(tmp)

Replace missing data with scalar:
        one       two     three
a  0.289648  0.459135 -1.405729
b  0.000000  0.000000  0.000000
c  0.000000  0.000000  0.000000
d  0.807417 -0.623052  0.904651
e  0.540474 -1.429832  1.203632
f -0.659215  1.294754 -0.834432
g  0.000000  0.000000  0.000000
h  0.662818 -0.228348  1.670195


Replace missing data with padding:
        one       two     three
a  0.289648  0.459135 -1.405729
b  0.289648  0.459135 -1.405729
c  0.289648  0.459135 -1.405729
d  0.807417 -0.623052  0.904651
e  0.540474 -1.429832  1.203632
f -0.659215  1.294754 -0.834432
g -0.659215  1.294754 -0.834432
h  0.662818 -0.228348  1.670195


Replace missing data with padding:
        one       two     three
a  0.289648  0.459135 -1.405729
b  0.807417 -0.623052  0.904651
c  0.807417 -0.623052  0.904651
d  0.807417 -0.623052  0.904651
e  0.540474 -1.429832  1.203632
f -0.659215  1.294754 -0.834432
g  0.662818 -0.228348  1.670195
h  0.662818 -0.228348  1.670195

In [5]:
# ## Remove the missing data

In [6]:
# df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
#   axis: 0/'index', 1/'columns'
#   how: 'any', 'all': drop row/col if at least one or all values
#        are Nan respectively
tmp = df
tmp = tmp.dropna()
print(tmp)

        one       two     three
a  0.289648  0.459135 -1.405729
d  0.807417 -0.623052  0.904651
e  0.540474 -1.429832  1.203632
f -0.659215  1.294754 -0.834432
h  0.662818 -0.228348  1.670195

In [7]:
## Replace non-NaN values

In [8]:
# Similar to fillna, non-Nan values can be replaced
# df.replace(to_replace=None, value=None, inplace=False,
#            limit=None, regex=False, method='pad')
df = pd.DataFrame({
    'one': [10, 20, 30, 40, 50, 2000],
    'two': [1000, 0, 30, 40, 50, 60]
})
print(df.replace({1000: 10, 2000: 60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60